{% extends 'base.html.twig' %}

{% block body %}
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="card shadow p-4" style="max-width: 400px; width: 100%;">
            <h1 class="h3 mb-3 text-center">Créer un compte</h1>

            {% if form_errors(registrationForm) %}
                <div class="alert alert-danger text-center">
                    {{ form_errors(registrationForm) }}
                </div>
            {% endif %}

            {{ form_start(registrationForm) }}
            <div class="mb-3">
                {{ form_row(registrationForm.name, {
                    attr: { class: 'form-control', id: 'inputName' }
                }) }}
            </div>

            <div class="mb-3">
                {{ form_row(registrationForm.email, {
                    attr: { class: 'form-control', id: 'inputEmail', autofocus: true }
                }) }}
            </div>

            <div class="mb-3">
                {{ form_row(registrationForm.plainPassword, {
                    attr: { class: 'form-control', id: 'inputPassword' }
                }) }}
            </div>

            <div class="text-center">
                <p class="pt-2 mb-1">
                    Vous avez déjà un compte ?
                    <a href="{{ path('app_login') }}" class="text-spotify">Connectez-vous</a>
                </p>

                <button class="btn btn-primary mt-3 w-100" type="submit">
                    Créer un compte
                </button>
            </div>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
