{% extends 'base.html.twig' %}

{% block body %}
    <h1>Séries {{ genre }}</h1>
    <div class="d-flex flex-wrap gap-3">
        {% if series is empty %}
            <p>Aucune série {{ genre }} n'est répertorié :(</p>
        {% else %}
            {% for series in series %}
                <div class="card" style="width: 200px;">
                    <img itemprop="image" src="https://image.tmdb.org/t/p/w500{{ series.picture }}"
                         alt="{{ series.title }}"
                         class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{ series.title }}</h5>
                        {% for genre in series.genres %}
                            <p> {{ genre }} </p>
                        {% endfor %}
                        <p>{{ series.releaseDate ? series.releaseDate|date('d/m/Y') : 'Date inconnue' }}</p>
                        <small>{{ series.resume|length > 100 ? series.resume|slice(0, 100) ~ '...' : series.resume }}</small>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
