{% extends 'base.html.twig' %}

{% block body %}
    <div style="padding-top: 5%;">
        {% if series is empty %}
            <p>Oups ! Aucune série n'est visible, pour régler ce problème appuyez
                <a href="{{ path('app_series_synchronisation_api') }}">
                    ici</a>. Ou rafraîchissez la page.</p>
        {% else %}

            <section class="mb-5">
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <h2 class="h4 m-0">Toutes les séries</h2>
                </div>

                <div class="series-row d-flex flex-row flex-nowrap gap-3 pb-2" style="overflow-x:auto;">
                    {% for serie in series %}
                        <article class="movie-card card bg-dark text-light" style="min-width: 180px;">
                            <img
                                src="https://image.tmdb.org/t/p/w300{{ serie.picture }}"
                                alt="{{ serie.title }}"
                                class="card-img-top"
                            >

                            <div class="card-body p-2">
                                <h3 class="card-title h6 text-truncate" title="{{ serie.title }}">
                                    {{ serie.title }}
                                </h3>

                                <p class="mb-2 small">
                                    Réalisé le <span
                                        class="badge bg-secondary me-1 mb-1">{{ serie.releaseDate ? serie.releaseDate|date('d/m/Y') : 'Date inconnue' }}</span>
                                </p>

                                <a href="{{ path('app_series_show', {id: serie.id}) }}"
                                   class="btn btn-sm btn-primary w-100">
                                    Détails
                                </a>
                            </div>
                        </article>
                    {% endfor %}
                </div>
            </section>

            {% if popular is not empty %}
                <section class="mb-5">
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <h2 class="h4 m-0">Le public a aimé</h2>
                    </div>

                    <div class="movies-row d-flex flex-row flex-nowrap gap-3 pb-2" style="overflow-x:auto;">
                        {% for serie in popular %}
                            <article class="movie-card card bg-dark text-light" style="min-width: 180px;">
                                <img
                                    src="https://image.tmdb.org/t/p/w300{{ serie.picture }}"
                                    alt="{{ serie.title }}"
                                    class="card-img-top"
                                >

                                <div class="card-body p-2">
                                    <h3 class="card-title h6 text-truncate" title="{{ serie.title }}">
                                        {{ serie.title }}
                                    </h3>

                                    <p class="mb-2 small">
                                        Réalisé le <span
                                            class="badge bg-secondary me-1 mb-1">{{ serie.releaseDate ? serie.releaseDate|date('d/m/Y') : 'Date inconnue' }}</span>
                                    </p>

                                    <a href="{{ path('app_series_show', {id: serie.id}) }}"
                                       class="btn btn-sm btn-primary w-100">
                                        Détails
                                    </a>
                                </div>
                            </article>
                        {% endfor %}
                    </div>
                </section>
            {% endif %}

            {% if year2025 is not empty %}
                <section class="mb-5">
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <h2 class="h4 m-0">Sorties cette année</h2>
                    </div>

                    <div class="movies-row d-flex flex-row flex-nowrap gap-3 pb-2" style="overflow-x:auto;">
                        {% for serie in year2025 %}
                            <article class="movie-card card bg-dark text-light" style="min-width: 180px;">
                                <img
                                    src="https://image.tmdb.org/t/p/w300{{ serie.picture }}"
                                    alt="{{ serie.title }}"
                                    class="card-img-top"
                                >

                                <div class="card-body p-2">
                                    <h3 class="card-title h6 text-truncate" title="{{ serie.title }}">
                                        {{ serie.title }}
                                    </h3>

                                    <p class="mb-2 small">
                                        Réalisé le <span
                                            class="badge bg-secondary me-1 mb-1">{{ serie.releaseDate ? serie.releaseDate|date('d/m/Y') : 'Date inconnue' }}</span>
                                    </p>

                                    <a href="{{ path('app_series_show', {id: serie.id}) }}"
                                       class="btn btn-sm btn-primary w-100">
                                        Détails
                                    </a>
                                </div>
                            </article>
                        {% endfor %}
                    </div>
                </section>
            {% endif %}

            {% if upcoming is not empty %}
                <section class="mb-5">
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <h2 class="h4 m-0">Bientot disponible</h2>
                    </div>

                    <div class="movies-row d-flex flex-row flex-nowrap gap-3 pb-2" style="overflow-x:auto;">
                        {% for serie in upcoming %}
                            <article class="movie-card card bg-dark text-light" style="min-width: 180px;">
                                <img
                                    src="https://image.tmdb.org/t/p/w300{{ serie.picture }}"
                                    alt="{{ serie.title }}"
                                    class="card-img-top"
                                >

                                <div class="card-body p-2">
                                    <h3 class="card-title h6 text-truncate" title="{{ serie.title }}">
                                        {{ serie.title }}
                                    </h3>

                                    <p class="mb-2 small">
                                        Réalisé le <span
                                            class="badge bg-secondary me-1 mb-1">{{ serie.releaseDate ? serie.releaseDate|date('d/m/Y') : 'Date inconnue' }}</span>
                                    </p>

                                    <a href="{{ path('app_series_show', {id: serie.id}) }}"
                                       class="btn btn-sm btn-primary w-100">
                                        Détails
                                    </a>
                                </div>
                            </article>
                        {% endfor %}
                    </div>
                </section>
            {% endif %}

            <section class="mb-5">
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <h2 class="h4 m-0">Les series par type</h2>
                </div>
                <div class="mb-3">
                    <ul class="list-inline mb-0">
                        {% for genre in allGenres %}
                            <li class="list-inline-item mb-2">
                                <a href="{{ path('app_index_series', { genre: genre }) }}"
                                   class="btn btn-sm {{ genre == selectedGenre ? 'btn-primary' : 'btn-outline-primary' }}">
                                    {{ genre }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="movies-row d-flex flex-row flex-nowrap gap-3 pb-2" style="overflow-x:auto;">
                    {% if seriesGenre is empty %}

                        Oups ! Aucun serie "{{ selectedGenre }}" n'est enregistré
                    {% else %}

                        {% for serie in seriesGenre %}
                            <article class="movie-card card bg-dark text-light" style="min-width: 180px;">
                                <img
                                    src="https://image.tmdb.org/t/p/w300{{ serie.picture }}"
                                    alt="{{ serie.title }}"
                                    class="card-img-top"
                                >

                                <div class="card-body p-2">
                                    <h3 class="card-title h6 text-truncate" title="{{ serie.title }}">
                                        {{ serie.title }}
                                    </h3>

                                    <p class="mb-2 small">
                                        Réalisé le <span
                                            class="badge bg-secondary me-1 mb-1">{{ serie.releaseDate ? serie.releaseDate|date('d/m/Y') : 'Date inconnue' }}</span>
                                    </p>

                                    <a href="{{ path('app_series_show', {id: serie.id}) }}"
                                       class="btn btn-sm btn-primary w-100">
                                        Détails
                                    </a>
                                </div>
                            </article>
                        {% endfor %}
                    {% endif %}
                </div>
            </section>

        {% endif %}
    </div>
{% endblock %}
