{% extends 'base.html.twig' %}

{% block body %}
    <h1>Série</h1>
    <div class="d-flex flex-wrap gap-3">
        <div class="card" style="width: 200px;">
            <img src="https://image.tmdb.org/t/p/w500{{ serie.picture }}" alt="{{ serie.title }}" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{ serie.title }}</h5>
                {% for genre in serie.genres %}
                    <p> {{ genre }} </p>
                {% endfor %}
                <p>Popularité : {{ serie.popularity }}</p>
                <p> Créateurs : </p>
                {% for creator in serie.creators %}
                    <p> {{ creator.name }} </p>
                {% endfor %}
                <p> Companies de production : </p>
                {% for productionCompanie in serie.productionCompanies %}
                    <p> {{ productionCompanie.name }}, ({{ productionCompanie.originCountry }}) </p>
                    {% if(productionCompanie.logo) %}
                    <img src="https://image.tmdb.org/t/p/w500{{ productionCompanie.logo }}" alt="{{ productionCompanie.name }}"
                         class="card-img-top">
                    {% endif %}
                {% endfor %}
                <p>Nombre de saisons : {{ serie.numberSeasons }}</p>
                {% for season in serie.seasons %}
                    <p> {{ season.title }} </p>
                    <img src="https://image.tmdb.org/t/p/w500{{ season.picture }}" alt="{{ season.title }}"
                         class="card-img-top">
                    <p> {{ season.resume }} </p>
                {% endfor %}
                <p>Nombre total d'épisodes : {{ serie.numberEpisodes }}</p>
                <p>{{ serie.releaseDate ? serie.releaseDate|date('d/m/Y') : 'Date inconnue' }}</p>
                <small>{{ serie.resume|length > 100 ? serie.resume|slice(0, 100) ~ '...' : serie.resume }}</small>
            </div>
        </div>
    </div>
{% endblock %}
